html, body {
  margin: 0;
  padding: 0;
  background: lightgray;
  font-family: sans-serif;
  min-height: 100%;
}


.nav-bar {
	max-height:60px;
	width: 100%;
	z-index: 1;
	background: url("images/nav-bar-gradient2.png") repeat-x top;
}
#mobber {
	text-align: left;
	text-color: red;
}

.nav-bar p {
		font-family: 'Didact Gothic', sans-serif;
	  color: white;
	  font-size: 20px;
	  max-height: 60px;
	  margin-bottom: 14px;
}
.igor {
width: 70px;

}
.hat-logo {
	margin: 10px 0 10px;
}

.spread-bar {
	margin:0;
	padding:0;
	background-color: white;
	height: 90px;
	width:100%;
	border-bottom: 2px solid rgb(217,217,217);
}
.spread-bar p {
		// position: absolute;
	text-align: center;
	line-height: 90px;
	color: black;
	padding: 0;
	margin:0;
	max-height: 90px;
	width:100%;
	left: 0;
	top: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;

}
.body-bar {
	height: 580px;
	background-color: rgb(242,240,236);
	border-bottom: 1px solid #d9d9d9;

}

#box {  
	max-width: 620px;
  height: 400px;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  // border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  margin-top:30px ;
  background: url("./images/angry-mob.jpg");
  // background-size:cover;
  border-radius:5px;
  overflow:hidden;
}

#overlay {  
	background:rgba(0,0,0,.75);
  text-align: left;
  color:white;
  line-height: 2px;
  height: 2px;
  padding:5px 0 50px 0;
  opacity:0;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  -webkit-transition: opacity .25s ease;
  display: inline-flex;
  width: 620px;
}

#box #overlay {
	opacity:1;
}
#ended-tour {
	font-family:  'Roboto', sans-serif;
	font-size: 12px;
	text-align: right;
}
#going-box {
	margin-top: 30px;
	height: 120px;
	background-color: lightgray;
}
#going-box p {
	font-size: 70px;
	color: white;
	margin: 0;
	text-align: center;
	line-height: 120px;
	text-shadow: 1px 1px 1px darkgray;
		font-family: 'Didact Gothic', sans-serif;
}

#mobbers-going {
	margin: 0;
	height: 32px;
	background-color: #b5aea3;
}
#mobbers-going p {
	margin: 0;
	line-height: 32px;
	font-size: 14px;
	text-align: center;
	text-shadow: 1px 1px 1px lightgrey;
		font-family:  'Roboto', sans-serif;
}
.join-mob-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffdd00), color-stop(1, #eaa800) );
	background:-moz-linear-gradient( center top, #ffdd00 5%, #eaa800 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd00', endColorstr='#eaa800');
	background-color:#ffdd00;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	border:1px solid #cb9100;
	display:inline-block;
	color:#ffffff;
	font-family:'Didact Gothic', sans-serif;
	font-size:25px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:300px;
	margin-top: 25px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;

	-moz-box-shadow: 0px 0px 2px 0px #d2d2d2;
	-webkit-box-shadow: 0px 0px 2px 0px #d2d2d2;
	box-shadow: 0px 0px 2px 0px #d2d2d2;
}
.join-mob-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eaa800), color-stop(1, #ffdd00) );
	background:-moz-linear-gradient( center top, #eaa800 5%, #ffdd00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa800', endColorstr='#ffdd00');
	background-color:#eaa800;
}.join-mob-button:active {
	position:relative;
	top:1px;
}

.reward-box {
	margin-top: 0;
	height: 70px;
	width: 290px;
	margin:0 5px 0 5px;
	background-color:white;
	// border-bottom: solid 1px #b1b1b1;
	// border-left: solid 1px #b1b1b1;
	// border-right: solid 1px #b1b1b1;
	-moz-box-shadow: 0px 0px 2px 0px #d2d2d2;
	-webkit-box-shadow: 0px 0px 2px 0px #d2d2d2;
	box-shadow: 0px 0px 2px 0px #d2d2d2;
}

.reward-box p{
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
}

#lower-pic-bar {
	background-color: #d0cdc7;
	height: 60px;
}

#lower-pic-bar p{
	margin: 0;
	font-size:20px;
font-family: 'Didact Gothic', sans-serif;
	color: #414141;
}

#release {
	color: #787878;
font-family: 'Didact Gothic', sans-serif;
text-align: center;
font-size: 14px;
border-bottom: solid 1px gray;
padding-bottom: 20px
}

.networking li{
	display: inline;
}

.networking ul {
	padding: 0;
}

#agreeing {
	font-family: 'Didact Gothic', sans-serif;
	color: #545352;

}
.advertising-bar {
	background-color: white;
	height: 725px;
	margin:0;
	padding:0;
}

.footer-bar {
	height: 340px;
	margin: 0;
	padding:0;
	background-color: #545352;

}

.screaming {
	margin-top: 40px;
		// font-family: 'Didact Gothic', sans-serif;
		// font-size: 20px;
}
.advertising {
		font-family: 'Didact Gothic', sans-serif;
		font-size: 20px;
		margin: 0;
	}

.advertising + p{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 15px;
		color: #787878;
		margin-top: 0;
		margin-bottom: 20px;
	}
.pic-bar {
	border-bottom: 1px solid #b1b1b1;
}

.extra-mobs{
	font-family: 'Didact Gothic', sans-serif;
	width: 620px;
	
}
.extra-mobs th{
	font-size:30px;
	margin-left:0;
}
.extra-mobs tr{
	// display: inline;
	// padding-right:30px;
	border-bottom: 1px solid #b1b1b1;

}
.extra-mobs td:first-child{
	font-size: 20px;
}
.extra-mobs td:nth-child(2) {
text-align: center;
}
.extra-mobs td:last-child{
	text-align: right;
}