html, body {
  margin: 0;
  padding: 0;
  background: lightgray;
  font-family: sans-serif;
  height: 100%;
}


.nav-bar {
	width: 100%;
	z-index: 1;
	background: url("images/nav-bar-gradient2.png") repeat-x top;
}
#mobber {
	text-align: left;
	text-color: red;
}

.nav-bar p {
		font-family: 'Didact Gothic', sans-serif;
	  color: white;
	  font-size: 20px;
}
.igor {
	// position: absolute;
	margin-left: 5px;
}
.hat-logo {
	margin: 10px 0 10px;
}